<div class="bg-primary text-white" style="font-size:20pt">Employees Manager</div>
<div class="bg-secondary">
    <a class="text-white" href="/add">Add Employee</a>
    <a class="text-white" href="/list">List Employees</a>
    <a class="text-white" href="/search">Search Employees</a>
</div>

